.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5ca4b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
  }
  
  .Toolbar nav {
    height: 100%;
  }
  
  .Logo {
    height: 80%;
  }
  
   .NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
  }
  

  .NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 24px;
    display: block;
    width: 100%;
  }
  
  .NavigationItem a {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #ccc;
  }
  

  

  @media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
  }
  

  