.Modal {
  position: fixed;
  z-index: 500 !important;
  background-color: white;
  width: 65%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 20%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

/* .Modal{
  position: fixed;
  z-index: 99 !important;
  background-color: white;
  width: 800px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 30%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
} */

.title{
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* @media (min-width: 600px) {
  .Modal {
    
    left: calc(50% - 250px);
  }
} */
