.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #656c77;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-weight: bold;
}

.NavigationItem a:hover span,
.NavigationItem a:active span,
.NavigationItem a.active span {
  color: white;
}

.NavigationItem a:hover i,
.NavigationItem a:active i,
.NavigationItem a.active i {
  color: #2c79d2;
}
