.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 200;
  background-color: #1e1f26;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.info img {
  border-radius: 50%;
}

.info .personal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.info .personal span:nth-child(2) {
  color: #5a616c;
}

.info .textSpan:after {
  content: "\2807";
  font-size: 1.5em;
  color: #fff;
}

.Logo {
  height: 5%;
  margin-bottom: 10px;
}
