.ShippingAgentOptions {
  width: 90%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  height: 90vh;
  margin: 10px auto;
  box-sizing: border-box;
}

.ShippingAgentOptions::-webkit-scrollbar {
  width: 0.25rem;
}

.ShippingAgentOptions::-webkit-scrollbar-track {
  background: #1e1e24;
}

.ShippingAgentOptions::-webkit-scrollbar-thumb {
  background: #3f7d88;
}
