.VesselDetails {
  width: 90%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  height: 80vh;
  margin: 10px auto;
  box-sizing: border-box;
}

.VesselDetails header {
  display: flex;
  background: #ffffff;
  padding: 2px;
  color: #000000;
}

.VesselDetails .searchBar {
  display: flex;
  flex-wrap: wrap;
  background: #f0f0f0;
  padding: 10px;
  justify-content: flex-start;
  color: #000000;
  width: 100%;
}

.VesselDetails .Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.VesselDetails .Input {
  padding: 10px;
  box-sizing: border-box;
}

.VesselDetails .InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
}

.btn,
.btnAdd {
  border: 2px solid black;
  background-color: white;
  margin-top: 22px;
  color: black;
  padding: 5px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e7e7e7;
  align-self: center;
}

.btn:hover {
  background: #e7e7e7;
}

.btnAdd {
  border: 2px solid black;
  background-color: white;
  margin-top: 22px;
  margin-left: auto;
  color: black;
  padding: 5px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e7e7e7;
  align-self: center;
  justify-self: flex-end;
}

.btnAdd:hover {
  background: #e7e7e7;
}
